<strong>Reset password</strong>

<p>
    A password recovery request was made to the email ({{ email }}).
    If you are not the author of this request, please contact the team
</p>

<p>
    To proceed with password recovery, use the {{ token }} token or click on the link below.
</p>

<a href="{{link}}">Create new password</a>